@import "src/styles/variaveis";
@import "src/styles/breakpoints";

.header {
  align-items: center;
  background-image: url($bg-header);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 300px;
  padding: 0px $padding-x;
  @media (max-width: $desktop_xsm) {
    padding: 0px $padding-x-mobile;
  }
  @media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
    padding: 0px $padding-x-sm;
  }
  @media (min-width: $desktop_sm) and (max-width: $desktop_md) {
    padding: 0px $padding-x-md;
  }
  &__text {
    color: white;
    font-size: 5rem;
    min-width: 400px;
    width: 40%;
  }
}